<!DOCTYPE html>
<html>
  <head>
    <title>Station Casinos</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
    <div id="topbar" class="topbar"></div>
        <nav class='navbar navbar-inverse'>
            <div class='container-fluid'>
                <div class="navbar-header">
                  <a class="navbar-brand" style="text-shadow:1px 1px 2px #2e2e2e;font-size:25px">Station Casinos - ALM Demo</a>
                </div>
                
            </div>
        </nav>
        <div id="bottombar" class="bottombar"></div>
        <div class='container'>
            {{{body}}}
        </div>
        <div id="bottomback" class="bottomback"></div>
     </div>
  </body>
</html>
