
<div class="panel panel-primary">
    <div class="panel-heading">
        Docker Help - CLI Commands
    </div>
    <div class="panel-body">
        <div class="row">

        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each dockerCommands}}
                    <tr>
                        <td>
                            <strong>{{ command }}</strong>

                        </td>
                        <td><strong>{{ description }}</strong></td>

                    </tr>
                    {{#each examples}}
                    <tr>
                        <td>
                            {{ example }}

                        </td>
                        <td>{{ description }}</td>

                    </tr>
                    {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>