

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.navbar-inverse {
    background-color: #337ab7; /*#0072C6;*/
    border-color: #337ab7; /*#0072C6;/*#0064AD;*/
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #337ab7; /*#50AAF7;*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #337ab7; /*#4EA5F0;*/
}

.navbar-inverse .navbar-nav > li > a {
    color: #cceeff;
}

.navbar {
    margin-bottom:0px;
}

.divider {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #FFF;
    display: block;
}
.topbar{
  width: 100%; height: 10px; background-color: rgb(127, 186, 0);
}
.bottombar{
  width: 100%; height: 10px; margin-bottom: 20px; background-color: rgb(127, 186, 0);
  
}
body{
background-image: url("/images/bpb.jpg");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:450px;
    background-position: top right;
}